body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: #111; /* خلفية داكنة */
  color: white;
}

.header img {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* يجعل الصورة دائرية */
  margin-right: 10px;
}

.header span {
  font-size: 18px;
  font-weight: bold;
}
